/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
/* ~~~~~~ Background & Body ~~~~~~~~~~~ */
body {
  background: linear-gradient(#134d71, #8c9fac, #f7e4bf) no-repeat center fixed;
  background-size: cover;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #ffffff;
  font-size: 1.2em;
}

header {
  text-align: center;
  color: #ffffff;
  font-size: 1.8em;
  font-weight: bold;
  padding: 1.4em;
  margin-bottom: 1.8em;
}

.hidden {
  display: none!important;
}

/* Radio & Recieve Message Btn Section */
#button-container {
  margin: 1em 0em 1em 0em;
  font-style: italic;
}

#button-error-message {
  font-family: 'Quicksand', sans-serif;
  font-size: 0.9em;
  margin-top: 1em;
  color: #ffffff;
}

input[type='radio'] { 
  transform: scale(1.3); 
}

label {
  margin-left: 0.8em;
}

#recieve-message {
  font-family: 'Quicksand', sans-serif;
  font-size: 0.9em;
  background-color: #134d71;
  color: #ffffff;
  border-radius: 0.3em;
  border: 0em;
  height: 1.8em;
  width: 12.5em;
}

#space-radio-button {
  margin-left: 11.5em;
}

.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  height: 5.5em;
  width: 30em;
  border-radius: 0.5em;
  margin-bottom: 6em;
}

/* Image, Message Style, & Clear Btn Section */
#button-position {
  position: fixed;
  margin: 6.8em 0 0 0;
}

.btn-style {
  font-family: 'Quicksand', sans-serif;
  font-size: 0.9em;
  background-color: #134d71;
  color: #ffffff;
  border-radius: 0.3em;
  border: 0em;
  height: 1.8em;
  width: 10em;
}

.mantra-img {
  height: 5em;
  width: 5em;
  margin-top: 1.8em;
}

.message {
  margin-top: 3em;
  font-size: 1.1em;
}

.show-message-container {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  height: 9em;
  width: 48em;
  border-radius: 0.5em;
}

/* Add Button & User Form Input Section */
#add-button {
  margin-top: 3em;
}

#submit-button {
  margin: 1em 8.6em;
}

.user-input {
  display: flex;
  flex-direction: column;
  width: 30em;
  height: 1.8em;
  margin: 2em 0;
}
